* {
    margin: 0;
    padding: 0;
}

/* Header Aria Style */
.header_Aria {
    width: 100%;
    background: #FFF4E7;

}

.nav_Container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.left_nav {
    font-size: 20px;

}

.right_nav a {
    text-decoration: none;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

/* Banner Aria Style */
.banner_Aria {
    width: 80%;
    margin: auto;
    margin-top: 75px;
}

.banner_Title {
    width: 40%;
    margin: auto;
    text-align: center;
}

.banner_Title h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.banner_Title p {
    font-size: 18px;
}

.banner_Title button {
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    background: #FF900E;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}

.banner_thamb {
    width: 100%;
    margin-top: 50px;

}

.banner_thamb img {
    width: 100%;
    margin-bottom: 20px;
}

/* Features Aria Style */

.features_Aria {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 40px;
}

.left_content {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 0px;

}

.left_content img {
    width: 90%;
    margin: auto;
}

.right_content {
    width: 40%;
    margin-left: 20px;
}

.right_content h1 {
    font-size: 40px;
}

.right_content p {
    font-size: 17px;
    line-height: 22px;
    margin-top: 12px;
}

.right_content button {
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    background: #FF900E;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 15px;
}

/* experience_Section Style */
.experience_Section {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 30px;
    margin-top: 40px;
    position: relative;

}

.experience_Details {
    display: flex;
    flex-direction: column;
}

.experience_Details h1 {

    font-size: 50px;
    border-left: 4px solid #FF900E;
    text-align: left;
    margin-bottom: 15px;
    padding-left: 5px;
}

.experience_Details p {
    font-size: 18px;
    margin-bottom: 15px;
}

.experience_item {
    box-shadow: -3px 4px 31px -18px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 4px 31px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 4px 31px -18px rgba(0, 0, 0, 0.75);
    padding: 8px 20px;
    border-radius: 4px;
}

.experience_item h3 {
    margin-top: 10px;
}

.experience_item p {
    margin-top: 10px;
}

.experience_img {
    margin-left: 100px;
    position: relative;
}

.experience_img img {
    width: 100%;
    height: 90%;
    z-index: -1;


}

.experience_Year {
    width: 40%;
    height: 80px;
    background: rgba(255, 144, 14, 1);
    margin-top: -100px;
    z-index: 11;
    position: absolute;
    bottom: 5%;
    left: -20%;
    padding: 15px;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.experience_Year h1 {
    font-size: 40px;
    font-weight: bold;

}

.facts_Section {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.facts_Title {
    margin-bottom: 20px;
}

.facts_Title h1 {
    font-size: 40px;
    text-align: left;
}

.facts_Title p {
    width: 40%;
    font-size: 17px;
    line-height: 25px;
}

.summary_Container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.summary {
    margin: auto;
    width: 150px;
    /* height: 100px; */
    border: 1px solid #FF900E;
    text-align: center;
    padding: 10px;
    border-radius: 2px;
}

.summary:hover img {
    scale: 1.1;
    transition: .2s;
}

.sponsor_Container {
    margin-top: 40px;

}

.sponsor_Container h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;

}

.sponsor_Container p {
    font-size: 17px;
    line-height: 20px;
    width: 40%;
    margin: auto;
    text-align: center;
}

.sponsor_img {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
}

.sponsor_img img {
    width: 150px;
    cursor: pointer;

}